@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Tes styles personnalisés ici */
body {
  font-family: system-ui, sans-serif;
  background-color: #f9fafb;
}

/* Animation du menu burger */
@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slide-left {
  animation: slide-left 0.25s ease-out forwards;
}
